@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade {
    animation: fadeSlide 180ms ease-out;
  }

  @keyframes fadeSlide {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

